[Unit]
Description=Codeline development stack
Requires=codeline-dev-postgres.service codeline-convex-backend.service codeline-convex-dashboard.service codeline-convex-dev.service codeline-dev-api.service codeline-dev-ui.service
After=network-online.target codeline-dev-postgres.service codeline-convex-backend.service codeline-convex-dashboard.service codeline-convex-dev.service codeline-dev-api.service codeline-dev-ui.service
Wants=network-online.target

[Install]
WantedBy=default.target
