[Unit]
Description=Codeline development stack
Requires=codeline-dev-api.service codeline-dev-ui.service
After=network-online.target codeline-dev-api.service codeline-dev-ui.service
Wants=network-online.target

[Install]
WantedBy=default.target
